version: '3'
volumes:
  database:
services:
  nginx:
   image: nginx:latest
   ports:
    - "8080:80"
   volumes:
    - .:/code
    - ./.docker/site.conf:/etc/nginx/conf.d/default.conf
   networks:
    - code-network
  phpfpm:
    image: php:8.1-fpm
    volumes:
     - .:/code
     - ./.docker/log.conf:/usr/local/etc/php-fpm.d/zz-log.conf
    networks:
     - code-network
  database:
    image: mysql/mysql-server:latest
    ports:
      - "9306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: alsupport
      MYSQL_USER: alsupport
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
    volumes:
      - database:/var/lib/mysql
    networks:
     - code-network

networks:
    code-network:
        driver: bridge